a{
    text-decoration: none;
}

.container{
    height: 100%;
    width: 100%;
}
.content{
    height: 260px;
    width: 450px;
    background-color: white;
    border-radius: 5px;
    margin: auto;
    margin-top: 120px;
    border: 1px solid black;
}
.tkk{
    height: 30px;
    border-top:none;
    border-left: none;
    border-right:none;
    margin-left: 25px;
    text-align: center;
    color: black;
    width: 400px;
    
}

.tk{
    width: 400px;
}

.btnemail{
    width: 200px;
    height: 35px;
    background-color: red;
    border: 1px solid white;
    color: white;
    margin-left:120px;
    border-radius: 7px;
    margin-top:20px;
    font-size: 16px;
}
.btnemail:hover{
    background-color: white;
    color: red;
    border: 1px solid red;
}
