APP_NAME=Laravel
APP_ENV=local
APP_KEY=base64:7EuINsXA0ut0cRiDSnqDYoDYF2PP08wpV247LZsUb9U=
APP_DEBUG=true
APP_URL=http://localhost

LOG_CHANNEL=stack

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=ql_khachsanit
DB_USERNAME=root
DB_PASSWORD=

BROADCAST_DRIVER=log
CACHE_DRIVER=file
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_DRIVER=smtp
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=mikywaylady@gmail.com
MAIL_PASSWORD=iaanqdhvjovltuss
MAIL_ENCRYPTION=tls

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_APP_CLUSTER=mt1

MIX_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
MIX_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"


FACEBOOK_APP_ID=575193929679711
FACEBOOK_APP_SECRET=42a034ff9add030e5c186faa9075e63b
FACEBOOK_REDIRECT=http://localhost:8000/callback/facebook

GOOGLE_CLIENT_ID=949983045010-p3gj3h8s81uf9bm7krrjitniaqoo6e1f.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=nugi6j3G0awuSlxAkDstIrep
GOOGLE_REDIRECT=http://localhost:8000/callback/google

PAYPAL_CLIENT=Ae5DGm_Y11Ogm5jsCPSGdVwQ3zjXP8aGWHoGL5s0gLCFDDRzb4e6d5tW8ibu5OJf_JSwF25m6A7q4zIr
PAYPAL_SECRET=EKA0jDTG6sF-izCGrlE5dDsRD7RebFBdaTLXZ7CvAp8vtJEnrbgxQsd59z5s0ZNUzKkNfs2Oea5mQI4I
PAYPAL_MODE=sandbox
